################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
/SDKs.DjiImage/bin
/SDKs.DjiImage/obj
/SDKs.DjiImage.Net48/bin
/SDKs.DjiImage.Net48/obj
/SDKs.DjiImage.Tests/obj
/SDKs.DjiImage.Tests/bin
/.vs